.sidebar-dropdown {
  font-size: 1.4em;
  width: 100%;
  padding: 0.2em;
  // background: violet;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    // background: brown;
  }

  &.active {
    .dropdown {
      display: block;
    }
  }

  .dropdown {
    min-width: 100%;
    display: none;
    padding-left: 0.2em;
  }
}
